<head>
    <title>Sprint Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="/js/stomp.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css">
    <script src="/webjars/font-awesome/js/all.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
</head>