<!DOCTYPE html>
<html lang="en">
{{>layout/header}}
<body class="container">
    <p>Hello friends</p>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
            {{#all}}
                <tr>
                    <td class="align-middle">{{name}}</td>
                    <td class="align-middle">{{done}}</td>
                    <td>
                        <button class="btn btn-large btn-primary del-item">-</button>
                    </td>
                </tr>
            {{/all}}
        </tbody>
    </table>
    <button class="btn btn-large btn-primary add-item">+</button>
</body>
<script src="/js/crud.js"></script>
</html>