<!DOCTYPE html>
<html lang="en">
{{>layout/header}}
<body class="container">
    <p>Hello friends</p>
    Logged in as: <img id="avatar"><span id="user"></span>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">State</th>
        </tr>
        </thead>
        <tbody>
            {{#all}}
                <tr data-id={{id}}>
                    <td class="align-middle name" contenteditable="true"><span>{{name}}</span></td>
                    <td class="align-middle done" contenteditable="true"><span>{{done}}</span></td>
                    <td>
                        <button class="btn btn-large btn-primary del-item">-</button>
                        <button class="btn btn-large btn-primary save-item">save</button>
                    </td>
                </tr>
            {{/all}}
        </tbody>
    </table>
    <button class="btn btn-large btn-primary add-item">+</button>
</body>
<script src="/js/crud.js"></script>
</html>